" press jk instead of Esc to exit insert mode
:inoremap jk <Esc>

nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l

" I found out what leader is
:let mapleader = " "

:nnoremap <Leader>o o<Esc>k
:nnoremap <Leader>O O<Esc>j

" change js require to import
:nnoremap <Leader>im 0cwimport<Esc>f=ct'from <Esc>f)x
" change js import to require
:nnoremap <Leader>re 0cwconst<Esc>/from<CR>ct'= require(<Esc>f'f'a)<Esc>

set ideajoin
Plug 'tpope/vim-surround'

set ignorecase
set smartcase
set hls

" yank/paste via the system clipboard
set clipboard=unnamed

